<mat-card *ngIf="hero" class="hero-card">
  <!-- <mat-card-header> -->
  <img mat-card-avatar src="{{ img_path }}" alt="{{ hero.name }}" />
  <mat-card-title-group>
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-subtitle>{{ hero.title }} </mat-card-subtitle>
    <img mat-card-sd-image src="{{ passive_icon_path }}" />
  </mat-card-title-group>
  <!-- </mat-card-header> -->

  <mat-card-content>
    <mat-chip-list aria-label="Role identification">
      <mat-chip *ngFor="let role of hero.roles">
        {{ role }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  Difficulté : {{ hero.tacticalInfo.difficulty }}
  <mat-card-content> </mat-card-content>
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title> Style du personnage </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Contrôle de foule:</p>
      <mat-progress-bar
        mode="determinate"
        value="{{ hero.playstyleInfo.crowdControl * 20 }}"
      ></mat-progress-bar>
      <p>Dégat:</p>
      <mat-progress-bar
        mode="determinate"
        value="{{ hero.playstyleInfo.damage * 20 }}"
      ></mat-progress-bar>
      <p>Durabilité:</p>
      <mat-progress-bar
        mode="determinate"
        value="{{ hero.playstyleInfo.durability * 20 }}"
      ></mat-progress-bar>
      <p>Mobilité:</p>
      <mat-progress-bar
        mode="determinate"
        value="{{ hero.playstyleInfo.mobility * 20 }}"
      ></mat-progress-bar>
      <p>Utilité:</p>
      <mat-progress-bar
        mode="determinate"
        value="{{ hero.playstyleInfo.utility * 20 }}"
      ></mat-progress-bar>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title> Biographie </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ hero.shortBio }}</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
