// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$lol-challenger-primary: mat.define-palette(mat.$indigo-palette);
$lol-challenger-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lol-challenger-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$lol-challenger-typography: mat.define-typography-config(
  $font-family: "beaufort",
  $headline:
    mat.define-typography-level(
      $font-weight: 900,
      $font-size: 3em,
      $letter-spacing: normal,
    ),
  $title:
    mat.define-typography-level(
      $font-weight: 700,
      $font-size: 2em,
    ),
  $subheading-1:
    mat.define-typography-level(
      $font-weight: 700,
      $font-size: 1.4em,
    ),
  $body-1:
    mat.define-typography-level(
      $font-weight: 500,
      $font-size: 1.2em,
    ),
  $body-2:
    mat.define-typography-level(
      $font-weight: 500,
      $font-size: 1em,
    ),
  $caption:
    mat.define-typography-level(
      $font-weight: 700,
      $font-size: 5em,
    ),
  $button:
    mat.define-typography-level(
      $font-weight: 700,
      $font-size: 5em,
    ),
  $input:
    mat.define-typography-level(
      $font-weight: 500,
      $font-size: 1.2em,
    ),
);

$lol-challenger-theme: mat.define-light-theme(
  (
    color: (
      primary: $lol-challenger-primary,
      accent: $lol-challenger-accent,
      warn: $lol-challenger-warn,
    ),
    typography: $lol-challenger-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($lol-challenger-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "beaufort", Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "beaufort";
  src: url("assets/font/BeaufortForLOL-OTF/beaufortforlol-regular.otf")
    format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "beaufort";
  src: url("assets/font/BeaufortForLOL-OTF/beaufortforlol-bold.otf")
    format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "beaufort";
  src: url("assets/font/BeaufortForLOL-OTF/beaufortforlol-light.otf")
    format("opentype");
  font-weight: 300;
}
